/************
    COMMON
************/

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 0;
    /* color: #a63c3c; */
    background-color: #F1E9E2;
    color: #C5242A;
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 24px;
    font-weight: lighter;
    width: 75%;
}

.menu .dots {
    width: 60px !important;
    height: 60px !important;
    margin: 50px;
}

.extra-patty {
    font-weight: bold;
    font-size: 16px;
}

hr {
    background-color: #C5242A;
    width: 60%;
    height: 3px;
}

.menu {
    border: #C5242A 2px solid;
    border-radius: 25px;
    margin: 5% 15%;
}

.menu .logo {
    width: 100%;
    height: auto;
    padding: 5% 25% 1.5% 25%;
}

.items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.item {
    margin: 5% 0;
}

.item-name {
    display: flex;
    justify-content: space-between;
}

.bottom-msg {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10% 0;
}

.bottom-msg p {
    text-align: center;
}